

/* Media query for screens between 1250px and 1536px */
@media (min-width: 1290px) and (max-width: 1536px) {
 
    .alphabet-div {
        gap: 8px; 
      }
    
      .alphabet span {
        width: px; 
        padding: 2px 2px 2px 2px;
        text-align: center;
      }
    
      .alphabet-text {
        justify-content: center; 
      }

      .alp-dop {
       margin-bottom:0px;
      }

  }


  @media (min-width: 1540px) and (max-width: 2000px) {

    .alp-dop {
        margin-top: 5px;
       }

  }
  


   